In [1]:
import pandas as pd

In [2]:
staffs = pd.read_csv('../staging_1/staffs/staffs.csv')
staffs

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,source,timestamp_saved
0,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1.0,2.0,DL,2024-04-28 17:57:24.082613
1,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1.0,2.0,DL,2024-04-28 17:57:24.082613
2,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2.0,1.0,DL,2024-04-28 17:57:24.082613
3,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3.0,1.0,DL,2024-04-28 17:57:24.082613
4,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3.0,7.0,DL,2024-04-28 17:57:24.082613
5,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3.0,7.0,DL,2024-04-28 17:57:24.082613

In [3]:
staffs.to_csv('../staging_2/staffs/staffs.csv', index = False)