In [1]:
import pandas as pd

In [2]:
stocks = pd.read_csv('../staging_1/stocks/stocks.csv')
stocks

     store_id  product_id  quantity source             timestamp_saved
0           1           1        27     DL  2024-04-28 17:57:33.689170
1           1           2         5     DL  2024-04-28 17:57:33.689170
2           1           3         6     DL  2024-04-28 17:57:33.689170
3           1           4        23     DL  2024-04-28 17:57:33.689170
4           1           5        22     DL  2024-04-28 17:57:33.689170
..        ...         ...       ...    ...                         ...
934         3         309        30     DL  2024-04-28 17:57:33.689170
935         3         310         8     DL  2024-04-28 17:57:33.689170
936         3         311        23     DL  2024-04-28 17:57:33.689170
937         3         312        18     DL  2024-04-28 17:57:33.689170
938         3         313         0     DL  2024-04-28 17:57:33.689170

[939 rows x 5 columns]

In [3]:
stocks.to_csv('../staging_2/stocks/stocks.csv', index = False)